.application-notice {
  padding: 5px 12px 15px 12px;
  line-height: 24px;
  margin-bottom: 24px;
  border-radius: 0.3rem;

  .notice-title {
    margin: -5px -12px 15px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding: 3px 12px 3px 12px;
  }
}

.info-notice {
  color: palette(blue, dark);
  background-color: palette(blue, extra-light);

  .notice-title {
    color: #FFF;
    background-color: palette(blue, light);
  }
}

.warning-notice {
  color: palette(red, dark);
  background-color: palette(red, extra-light);

  .notice-title {
    color: #FFF;
    background-color: palette(red, light);
  }
}
