// Colors
$light-blue: #E9F7FB;
$dark-grey: #4A4A4A;
$dark-teal: #125E73;
$teal: #24B9D0;
$white: #fff;

::selection {
  background: $teal; /* WebKit/Blink Browsers */
  color: $white;
}
::-moz-selection {
  background: $teal; /* Gecko Browsers */
  color: $white
}

