@charset "UTF-8";

// This is Sass, not straight-up Sprockets.
// Instead of using `= require_self` and `= require_tree .`, use @import instead, e.g.,
//
//   @import "products";
//
// Sprockets is kinda stupid sometimes. Better to require things explicitly.
//
//
// .rule {
//   @extend .first;
//   @include second;
//   alphabetical: properties;
//   go: here;
// }
//

// Variables -------------------------------------------------------------------
@import "globals";

// Libraries and patterns ------------------------------------------------------

// @import "./patterns/all";

// Base ------------------------------------------------------------------------

body {
  background: #fff;
}

// Layout ------------------------------------------------------------------


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
	width: 100%;
}

@mixin col($col, $sum) {
	box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
  width: percentage($col/$sum);

  @media only screen and (min-width: 768px) {
    width: percentage($col/$sum);
  }
}

.content__wrap {
	@include col(1,1)
}


// Typography