@charset "UTF-8";

// This is Sass, not straight-up Sprockets.
// Instead of using `= require_self` and `= require_tree .`, use @import instead, e.g.,
//
//   @import "products";
//
// Sprockets is kinda stupid sometimes. Better to require things explicitly.
//
//
// .rule {
//   @extend .first;
//   @include second;
//   alphabetical: properties;
//   go: here;
// }
//

// Variables -------------------------------------------------------------------
@import "globals";


// Libraries and patterns ------------------------------------------------------
@import "patterns/all";

// Resets ------------------------------------------------------
@include reset;

// Layout ----------------------------------------------------------------------


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin col($col, $sum) {
	box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  width: percentage($col/$sum);

  @media only screen and (min-width: 768px) {
    width: percentage($col/$sum);
  }
}

body {
	font-family: "work-sans", Helvetica Neue, Arial, sans-serif;
}

.content-wrap {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;

	@media only screen 
	and (min-width: 320px)
	and (max-width: 1199px) {
		padding-left: 5%;
		padding-right: 5%;
		width: 100%;
	}
}

.content__features-list-item {
	@include col(1,3);
}

.content__additional-features-list-item {
	@include col(1,4);
}

.content__code-snippets-list-item {
	@include col(1,3);
}

.content__gems-list-item {
	@include col(1,4);
}

footer {
	@extend .row;
}

.footer__credits {
	@include col(2,3);
}

.gem-article {
	@include col(3,4);
}

header {
	@extend .row;
	background-color: $teal;
	color: $white;
}

.intro-home {
	margin-top: 130px;
	padding-bottom: 180px;
	text-align: center;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.intro-page {
	margin-top: 130px;
}

.news-article {
	@extend .news-list;
}

.news-list {
	@include col(2,3);
	margin-left: calc(100% / 12 * 2);

	@media only screen 
	and (min-width: 320px)
	and (max-width: 1199px) {
		margin-left: 0;
	}
}

.news__list-item-date {
	@include col(2,8);
}

.news__list-item-content {
	@include col(6,8);
}

.row {
	width: 100%;
}

.row-blue {
  @extend .row;
  background-color: $teal;
}

.sidebar {
	@include col(1,4);
}

// Navigation ---------------------------------------------------------

.main-nav {
	padding-top: 30px;
}

.main-nav__list li {
	display: inline;
	margin-right: 40px;
}



// Typography