meta charset="utf-8"
- site.breakpoints.each do |breakpoint|
  meta name="breakpoint" content=breakpoint.name media=breakpoint.query
meta name="viewport" content="width=device-width, initial-scale=1.0"
= yield_content(:seo)
link href="/feed.xml" rel="alternate" type="application/atom+xml" title="dry-rb news"
link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400i,600,600i" rel="stylesheet"
link rel="icon" href="/images/favicon.png"
link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet"
/[if IE]
  link rel="shortcut icon" href="/images/favicon.ico"
title == page_title
= stylesheet_link_tag "site"
= javascript_include_tag "site"
