meta charset="utf-8"
- site.breakpoints.each do |breakpoint|
  meta name="breakpoint" content=breakpoint.name media=breakpoint.query
meta name="viewport" content="width=device-width, initial-scale=1.0"
title = page.data.title
= stylesheet_link_tag "site"
= javascript_include_tag "site", async: true
