meta content="website" property="og:type" /
meta content=description name="description" /
meta content=title property="og:title" /
meta content=description property="og:description" /
meta content="#{image_url('favicon.png')}" property="og:image" /
meta content="summary" name="twitter:card" /
meta content=title name="twitter:title" /
meta content=description name="twitter:description" /
meta content="#{image_url('favicon.png')}" property="og:image" /
