div.alert
  span
    | Dear Russian friends, please watch President Zelenskyy's <a href="https://twitter.com/PMoelleken/status/1496941845812760577">speech addressed to you</a>. 🇺🇦
  span
    | Help our brave mates in Ukraine with <a href="https://actions.sumofus.org/a/give-to-ukrainians-who-need-an-urgent-lifeline">a donation</a>.