// Mixins
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
 }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
 }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Colors
$very-light-blue: #f0f3f7;
$light-grey: #eee;
$light-blue: #eef3f5;
$mid-blue: #3b7892;
$dark-blue: #277785;
$dark-grey: #333;
$dark-teal: #025a73;
$mid-teal: #788d96;
$teal: #0ea5ce;
$white: #fff;

::selection {
  background: $teal;
  color: $white; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $teal;
  color: $white; /* Gecko Browsers */
}

// Fonts
$primary-font: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$primary-font-bold-weight: 600;
$code-font: "Source Code Pro", "Liberation Mono", Menlo, Courier, monospace;
