// Mixins
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (min-width: # {
    $mobile-width
  }
  ) and (max-width: # {
    $tablet-width - 1px
  }
  ) {
    @content;
 }
}
@mixin tablet {
  @media (min-width: # {
    $tablet-width
  }
  ) and (max-width: # {
    $desktop-width - 1px
  }
  ) {
    @content;
 }
}
@mixin desktop {
  @media (min-width: # {
    $desktop-width
  }
  ) {
    @content;
  }
}

// Colors
$light-blue: #E9F7FB;
$dark-blue: #277785;
$dark-grey: #4A4A4A;
$dark-teal: #125E73;
$teal: #24B9D0;
$white: #fff;

::selection {
  background: $teal;
  color: $white; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $teal;
  color: $white; /* Gecko Browsers */
}

// Fonts
$primary-font: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$code-font: "Source Code Pro", "Liberation Mono", Menlo, Courier, monospace;
