@charset "UTF-8";

// This is Sass, not straight-up Sprockets.
// Instead of using `= require_self` and `= require_tree .`, use @import instead, e.g.,
//
//   @import "products";
//
// Sprockets is kinda stupid sometimes. Better to require things explicitly.
//
//
// .rule {
//   @extend .first;
//   @include second;
//   alphabetical: properties;
//   go: here;
// }
//

// Variables -------------------------------------------------------------------
@import "globals";


// Libraries and patterns ------------------------------------------------------
@import "patterns/all";
@import "components/webfonts";

// Resets ------------------------------------------------------
@include reset;

// Layout ----------------------------------------------------------------------


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin col($col, $sum) {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  width: percentage($col/$sum);

  @media (min-width: 768px) {
    width: percentage($col/$sum);
  }
}

@include standard-links-no-underline;

body {
  font-family: $primary-font-regular;
  font-size: 16px;
  line-height: 1.4;

  @media (min-width: 320px)
  and (max-width: 900px) {
    font-size: 14px;
  }
}

.article-list {
  @include col(1,2);
  margin-left: calc(100% / 12 * 3);

  @include mobile {
    @include col(1,1);
    margin-left: 0;
  }
}

.article-list ul li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 30px;

  &:last-of-type {
    border-bottom: 0;
  }
}

.btn {
  background-color: $teal;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: $primary-font-bold;
  font-size: 14px;
  padding: 12px 20px;
  text-align: center;
  transition: background-color 100ms ease;

  &:hover {
    background-color: shade( $teal, 5% );
    color: $white;
  }
}

.btn-social {
  @extend .btn;

  @include mobile {
    @include col(1,1);
    margin-bottom: 10px;
  }

  display: inline-block;
  margin-right: 15px;
  vertical-align: top;

  &:last-of-type {
    margin-right: 0;
  }
}

.btn-view-gems {
  @extend .btn;

  @include desktop {
    margin-top: 50px;
  }

  @include tablet {
    margin-top: 20px;
  }

  @include mobile {
    margin-top: 0;
    width: 100%;
  }

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}

.content-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  @media (min-width: 320px)
  and (max-width: 1199px) {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
}

.content__features-list-item {
  @include col(1,3);
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;

  @include mobile {
    @include col(1,1);
  }
}

.features-list-img {
  height: 64px;
  margin-bottom: 25px;
}

.features-list-img-door {
  @extend .features-list-img;
  background: url('/images/icon-door.png') no-repeat center center;

  @media screen
  and (-webkit-min-device-pixel-ratio: 2) {
    background: url('/images/icon-door@2x.png') no-repeat center center;
    background-size: contain;
  }
}

.features-list-img-flexible {
  @extend .features-list-img;
  background: url('/images/icon-flexible.png') no-repeat center center;

  @media screen
  and (-webkit-min-device-pixel-ratio: 2) {
    background: url('/images/icon-flexible@2x.png') no-repeat center center;
    background-size: 64px;
  }
}

.features-list-img-lightning {
  @extend .features-list-img;
  background: url('/images/icon-lightning.png') no-repeat center center;

  @media screen
  and (-webkit-min-device-pixel-ratio: 2) {
    background: url('/images/icon-lightning@2x.png') no-repeat center center;
    background-size: contain;
  }
}

.content__additional-features-list-item {
  @include col(1,4);

  @include tablet {
    @include col(1,2);
  }

  @include mobile {
    @include col(1,1);
  }
}

.content__code-snippets-list-item {
  @include col(1,3);

  @include tablet {
    @include col(2,3);
    margin-left: calc(100% / 6 * 1);
  }

  @include mobile {
    @include col(1,1);
  }

}

.content__gems-list {
  @include desktop {
    display: flex;
  }
}

.content__gems-list-item {
  @include col(1,4);
  padding-bottom: 30px;

  @include tablet {
    @include col(1,2);
  }

  @include mobile {
    @include col(1,1);
  }

}

.content__gems-list-item a {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  display: block;
  padding: 20px;
  transition : border 100ms ease-out;

  h3 {
    color: $dark-grey;
  }

  &:hover {
    border: 1px solid #34BACF;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.10);
  }
}

footer {
  background-color: $dark-teal;
  color: $white;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
}

.footer__credits {
  @include col(3,4);

  @include tablet {
    @include col(2,3);
  }

  @include mobile {
    @include col(1,1);
    margin-bottom: 20px;
  }

  color: $white;
  font-size: 13px;

  a {
    color: $white;
    font-family: work_sansbold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.gem-article {
  @include col(3,4);

  @include mobile {
    @include col(1,1);
  }
}

header {
  background-color: $teal;
  background-image: url(/images/bg-header.png);
  background-position: center center;
  color: $white;
  width: 100%;
}

hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 1px;
  display: block;
  margin-bottom: 60px;
  margin-top: 60px;

  @include tablet {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @include mobile {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.intro-home {
  @include col(2,3);

  @include mobile {
    @include col(1,1);
    padding-bottom: 50px;
    margin-left: 0;
    margin-top: 50px;
  }

  margin-left: calc(100% / 12 * 2);
  margin-top: 130px;
  padding-bottom: 180px;

  text-align: center;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.intro-page {
  @extend .intro-home;

  @include mobile {
    padding-bottom: 30px;
  }

  padding-bottom: 70px;
}

.news-article {
  @extend .news-list;
}

.news-list {
  @include col(2,3);
  margin-left: calc(100% / 12 * 2);

  @media (min-width: 320px)
  and (max-width: 1199px) {
    margin-left: 0;
  }

  @include tablet {
    @include col (1,1);
  }

  @include mobile {
    @include col (1,1);
  }
}

.news__list-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 30px;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }

}

.news__list-item-content {
  @include col(6,8);

  @include mobile {
    @include col(1,1);
  }

  a {
    color: $dark-grey;
  }
}

.news__list-item-date {
  @include col(2,8);

  @include mobile {
    @include col(1,1);
  }

  color: #666666;
  font-size: 14px;
  vertical-align: top;
}

.news__list-item-content a:hover {
  color: $teal;
}

pre {
  background: #4A4A4A;
  border-radius: 4px;
  padding: 20px;
}

pre code {
  background: none;
  color: #999;
}

.row {
  padding-bottom: 100px;
  padding-top: 100px;
  width: 100%;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.row-blue {
  @extend .row;
  background-color: $light-blue;
}

.sidebar {
  @include col(1,4);

  @include mobile {
    @include col(1,1);
    margin-bottom: 30px;
  }

  vertical-align: top;
}

.sidebar ul li ul {
  border-left: 2px solid $light-blue;
  padding-left: 15px;
}

// Navigation ---------------------------------------------------------

.main-nav {
  padding-left: 30px;
  padding-top: 30px;
  position: relative;

  &:before {
    background: url('/images/logo-sml.png') no-repeat;
    content: '';
    height: 30px;
    left: 0;
    position: absolute;
    top: 25px;
    width: 30px;

    @media screen
    and (-webkit-min-device-pixel-ratio: 2) {
      background: url('/images/logo-sml@2x.png') no-repeat;
      background-size: cover;
    }
  }
}

.main-nav__list li {
  display: inline;
  margin-right: 40px;

  @include mobile {
    display: inline-block;
  }

  &:first-child {
    @include mobile {
      display: block;
      margin-left: 15px;
      width: 100%;

      a {
        display: block;
      }
    }
  }

  &:nth-child(2) {
    @include mobile {
      margin-left: 15px;
    }
  }

  &:not(:first-child) {
    @include mobile {
      margin-top: 20px;
    }
  }
}

.main-nav__list li a {
  @include desktop {
    border-bottom: 2px solid rgba(255,255,255,0);
    padding-bottom: 3px;
    transition: border 250ms ease;

    &:hover {
      border-bottom: 2px solid rgba(255,255,255,.3);
    }
  }

  color: $white;
}

.main-nav__logo {
  margin-left: 30px;
}


// Typography

blockquote {
  border-left: 4px solid $teal;
  padding-left: 26px;
  margin-bottom: 40px;

  p {
    color: #666666;
  }
}

.center-text {
  text-align: center;
}

code {
  background: $light-blue;
  font-family: $code-font;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.intro-home h1 {
  @include mobile {
    font-size: 20px;
  }

  color: #FFFFFF;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.20);

  strong {
    font-family: work_sansbold;
  }

}

.intro-page h1 {
  color: #FFFFFF;
  font-family: work_sansbold;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.20);
}

h2 {
  @include mobile {
    font-size: 16px;
  }
  color: $teal;
  font-family: work_sansbold;
  font-size: 24px;
  margin-bottom: 12px;
}

.content__home-intro h2 {
  color: #999;
  font-family: work_sansregular;
  text-align: center;
}

.section-heading {
  margin-bottom: 60px;
  text-align: center;
}

h3 {
  color: #dark-grey;
  font-family: work_sansbold;
  font-size: 16px;
  margin-bottom: 12px;
}

.content__additional-features-list-item h3 {
  color: $teal;
}

p {
  color: $dark-grey;
  margin-bottom: 20px;
}

.intro-home p {
  color: $white;
}

article h2, .article h3 {
  padding-top: 10px;

  &:first-child {
    padding-top: 0;
  }
}

article ul li:before {
  color: $teal;
  content: "•"; /* Insert content that looks like bullets */
  padding-right: 24px;
}

article ul li {
  color: #666;
  margin-bottom: 8px;
}

pre {
  margin-bottom: 20px;
}

.sidebar li {
  padding: 0.25em 0;
}

.sidebar li .active {
  font-weight: 900;
  color: $dark-blue;
}
